[flake8]
exclude = __pycache__,.venv,build,dist
ignore = E501,W503
max-line-length = 80
select = C,E,F,W,B,B901,B902,B903,B950
# This needs to be dropped to <=10 once AcquiaData.request is refactored.
max_complexity = 15
