[flake8]
ignore =
	# This isn't an OpenStack project so we don't use their headers.
	H102,
	H103,

exclude = .git,__pycache__
# This needs to be dropped to <=10 once AcquiaData.request is refactored.
max_complexity = 16
